<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

    <p>@ViewBag.Greeting @ViewBag.Username ,Nas覺ls覺n覺z</p>
    <p>Umar覺m memnunsunuzdur</p>

</body>
</html>